:root {
  --cell-side: 200px;
}

.container {
  display: grid;
  grid-template-columns: calc(3 * var(--cell-side) + 16px) 400px;
  gap: 16px;
  padding: 16px;
}

.game-container {
  display: grid;
  grid-template-columns: calc(3 * var(--cell-side) + 16px);
  grid-template-rows: 100px calc(3 * var(--cell-side) + 16px);
  gap: 16px;

  background-color: #fff;
}

#status {
  align-self: center;

  text-align: center;
  font-size: 2rem;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-side));
  grid-template-rows: repeat(3, var(--cell-side));
  gap: 8px;

  background-color: black;
  font-size: 8rem;
}

.cell {
  display: grid;
  place-items: center;

  background-color: #fff;
}

#board.disabled > .cell {
  background-color: #888;
}

#start-restart {
  padding: 0;
  width: 200px;
}

.interaction-container {
  display: grid;
  grid-template-rows: 100px 30px 200px;
  justify-items: center;
  gap: 16px;
  padding: 132px 0 0;
}

.player-names {
  display: grid;
  grid-template-columns: max-content 200px;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

input:disabled {
  background-color: #888;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  text-align: center;
}