:root {
  --cell-side: 200px;
}

.container {
  display: grid;
  grid-template-columns: calc(3 * var(--cell-side) + 16px);
  grid-template-rows: 100px calc(3 * var(--cell-side) + 16px);
  gap: 16px;

  background-color: #fff;
  padding: 16px;
}

#status {
  align-self: center;

  text-align: center;
  font-size: 2rem;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-side));
  grid-template-rows: repeat(3, var(--cell-side));
  gap: 8px;

  background-color: black;
  font-size: 8rem;
}

.cell {
  display: grid;
  place-items: center;
  
  background-color: #fff;
}

#board.disabled > .cell {
  background-color: #888;
}